<div class="container mt-2">

  <div class="card">

    <div class="card-header">
      Customers
    </div>

    <div class="card-body">

      @if (loading && !(customers | async)) {
        <div class="text-primary">
          Loading customers...
        </div>
      }

      @if (errorMessage) {
        <div class="text-danger">
          {{ errorMessage }}
        </div>
      }

      @if (customers | async; as listCustomers) {
        @if(searchFormGroup){
          <div>
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
              <div class="input-group">
                <label class="input-group-text">Keyword : </label>
                <input class="from-control" type="text" formControlName="keyword">
                <button class="btn btn-info"><i class="bi bi-search">  </i></button>
              </div>
            </form>
          </div>
        }
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>
            @for (customer of listCustomers; track customer.id) {
              <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>
                  <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger">
                      <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>

      }

    </div>

  </div>

</div>